%h1 Learn More Page
.container
	.row-
		.col-sm-6.col-md-4
    	.thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption
        %h3 ACTIVITY ONE
        %p
          %a.btn.btn-primary btn-lg{:href => "admin/view_applicants", :role => "button"} Click Here Detailed Info
		.row
		 .col-sm-6.col-md-4
		 	.thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption
        %h3
        %p client information
          %a.btn.btn-primary btn-lg{:href => "admin#view_applicants", :role => "button"} Edit Public Pages

	.row
  	.col-sm-6.col-md-4
    	.thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption
        %h3 ACTIVITY THREE
        %p
          %a.btn.btn-primary btn-lg{:href => "/attachments", :role => "button"}

.row
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption
        %h3 ACTIVITY 4
        %p
          %a.btn.btn-primary btn-lg{:href => "admin#view_applicants", :role => "button"} Edit Application Form
          %
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption ACTIVITY 5
        %h3 5
        %p
          %a.btn.btn-primary btn-lg{:href => "admin#view_applicants", :role => "button"}

  #.col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption
        %h3 ACTIVITY 6
        %p
          %a.btn.btn-primary btn-lg{:href => "admin#view_applicants", :role => "button"}
.row
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption
        %h3
        %p
          %a.btn.btn-primary btn-lg{{:href => "admin/school_management", :role => "button"}

  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "thumbnail", :src => "/TUOS_PRIMARY_LOGO_FULL COLOUR.png"}
      .caption
        %h3
        %p
          %a.btn.btn-primary btn-lg{:href => "admin/teacher_management", :role => "button"}
